<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-column">
        <div class="footer-logo">
          <img src="/assets/logo.png" alt="Aromas Eagles Logo">
        </div>
        <h3>Aromas Eagles</h3>
        <p>Fraternal Order of Eagles<br>Aerie #72<br>Aromas, CA</p>
      </div>
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/applications">Scholarships</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Connect With Us</h3>
        <p>Email: aromaseagles@gmail.com</p>
        <div>
         PO Box 790 <br/>
         Aromas, California 95004 <br/>
         USA
        </div>

      </div>
    </div>
    <div class="copyright">
      &copy; 2025 Fraternal Order of Eagles Aerie #72. All Rights Reserved. Part of <a href="https://aromas.town">Aromas.Town</a>.
    </div>
  </div>
</footer>